<template>
  <v-app>
    <NavBar/>
    <v-main>
      <v-container>
        <v-row>
          <v-col cols="12" sm="12">
            <v-carousel>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" cover>
                <v-row>
                  <v-col cols="12" sm="6">
                    <div class="d-flex fill-height justify-center align-center">
                      <h2 class="text-white top">{{ item.title }}</h2><br/>
                    </div>
                    <div class="d-flex fill-height justify-center align-center">
                      <p class="text text-white">{{ item.text }}</p>
                    </div>
                    <div class="d-flex fill-height justify-center align-center">
                      <v-btn style="margin-top: -120px">Buy Now</v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-carousel-item>
            </v-carousel>
          </v-col>
          <v-toolbar color="transparent">
            <v-toolbar-title>Popular Products</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon="mdi mdi-chevron-left"></v-btn>
            <v-btn icon="mdi mdi-chevron-right"></v-btn>
          </v-toolbar>
          <v-col cols="12" sm="12" class="mt-n10">
            <Popular/>
          </v-col>
          <v-toolbar color="transparent" class="mt-n10">
            <v-toolbar-title>Featured Products</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon="mdi mdi-chevron-left"></v-btn>
            <v-btn icon="mdi mdi-chevron-right"></v-btn>
          </v-toolbar>
          <v-col cols="12" sm="12" class="mt-n10">
            <Featured/>
          </v-col>
          <v-col cols="12" sm="12" class="mt-n10">
            <Client/>
          </v-col>
          <v-col cols="12" sm="12" class="mt-n10">
            <v-row>
              <v-col cols="12" sm="4">
                <v-card class="mx-auto my-12 pb-4" max-width="374">
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-card-item class="mt-10">
                        <v-card-title class="text-center">
                          Smart Watch
                        </v-card-title>
                      </v-card-item>
                        <v-card-text>
                          <div class="text-center">
                            Small
                          </div>
                          <div class="text-center">
                            <v-btn color="black">Buy Now</v-btn>
                          </div>
                        </v-card-text>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-img height="250" class="mx-4" src="image/13.jpg">

                      </v-img>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
      <Footer/>
    </v-main>
  </v-app>
</template>


<script setup>
import NavBar from "@/components/NavBar.vue";
import Popular from "@/components/Popular.vue";
import Featured from "@/components/Featured.vue";
import Client from "@/components/Client.vue";
import Footer from "@/components/Footer.vue";

</script>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: "https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcSGj4QXpRvjEPrc1vKKTJK6onwTIpxuHNvjk_EvVST0KTCAEy6Mt_Biuc_WJ2W5bhQbfpaQAwP5WfzTkPuvJi2Z9tF3-NO3NcMORmSqwA",
          title: "Краснодар",
          text: "Краснода́р (до 1920 года — Екатеринода́р) — город-миллионер на юго-западе России, расположенный на правом берегу реки Кубани, на расстоянии 125 км от Чёрного моря ",
        },
        {
          src: "https://lh5.googleusercontent.com/p/AF1QipPfwkT9Q84aWWjiBZN1lr9d-WNvbX3HZon0-De8=w589-h340-n-k-no",
          title: "Административный центр",
          text: "Административный центр Краснодарского края[6]. Один из крупнейших и самых многонаселённых городов Юга России. Крупный экономический и культурный центр Северного Кавказа и Южного федерального округа, центр историко-географической области Кубань. Неофициально именуется столицей Кубани",
        },
        {
          src: "https://lh5.googleusercontent.com/p/AF1QipOKdNxwP-oFgPuE4GVar5uxfAE47otoGRG0F2y4=w589-h340-n-k-no",
          title: "Население города",
          text: "Население города — 1 121 291[3] (2023) человек, двенадцатый по численности населения город России.Перейти к разделу «Население» В пределах Краснодарской агломерации проживает 1 728 678 человек (2023), восьмая по численности населения агломерация страны",
        },
        {
          src: "https://lh5.googleusercontent.com/p/AF1QipNOuqJ0H33EOWrL3_KfQI3B5Pj0uzVOKF52T_kF=w589-h340-n-k-no",
          title: "Этимология",
          text: "Основан в 1793 году как крепость под названием Новая Сечь (Нова Січ укр.), позже в честь императрицы Екатерины II переименовали в «Екатеринодар»",
        },
        {
          src: "https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcR_F6CQTLZTTAZ7c8tXU8C0HVQjnJxEzUe1beZ78P3NuREz27S0fglrKGzzLvM1cjfdnbam4kQERbpItC4hGyLldRHwKAaFf9-FpQxAdw",
          title: "География",
          text: "Краснодар находится в южной части Восточно-Европейской равнины на Кубано-Приазовской низменности, в 1300 км к югу от Москвы. Расположен почти в центре Краснодарского края, в южной части Прикубанской равнины, в долине реки Кубани (на правом, высоком берегу), то есть, геоморфологически, на пойме и надпойменной террасе.",
        },
        {
          src: "https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcShcb4yyC3eHy_yj1oLcA9nuZSoHNwgeYi8ymTNId1A51umUBaiEK3KSSyTmaaKkkXsrv4X9doN68ZqzbFPDXU3IhMruh1nRZhhfZ_FjA",
          title: "Часовой пояс",
          text: "Краснодар находится в часовой зоне МСК (московское время). Смещение применяемого времени относительно UTC составляет +3:00",
        },
      ],
    };
  },
};
</script>

<style scoped>
.top {
  margin-top: 100px;
}
.text {
  margin-top: -40px;
  margin-left: 80px;
}
.top-day {
  margin-top: 120px;
}
</style>
