<template>
  <v-footer>
    <v-card flat title class="white--text py-12 px-5" width="100%" color="#F4F5F9">
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="4" class="pa-16">
          <div class="text-center">
            <span>$</span><strong>hopio</strong>
          </div>
          <v-card-text class="mt-2">
            <div class="text-center">
              Small
            </div>
          </v-card-text>
        </v-col>
        <v-col cols="12" xs="12" sm="6" md="2">
          <v-card-text class="white--text pt-0">
            <h3>About</h3>
          </v-card-text>
          <v-card-text class="grey--text">  </v-card-text>
          <v-card-text class="grey--text mt-n4">
          </v-card-text>
          <v-card-text class="grey--text mt-n4"> ooovladislavchik@gmail.com </v-card-text>
          <v-card-text class="grey--text mt-n4"> 891848482889 </v-card-text>
        </v-col>
      </v-row>
    </v-card>
  </v-footer>
</template>
<script>

</script>
<style>

</style>
